@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #fffcf9; /* baby powder */
    --color-secondary: #3f403f; /* onyx */
    --color-accent: #ef6f6c; /* light coral */
  }
  :root[data-theme="light"] {
    --color-primary: #fffcf9; /* baby powder */
    --color-secondary: #3f403f; /* onyx */
    --color-accent: #ef6f6c; /* light coral */
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary: #171219; /* licorice */
      --color-secondary: #f5fbef; /* ivory */
      --color-accent: #fb3640; /* imperial red */
    }
  }
  :root[data-theme="dark"] {
    --color-primary: #171219; /* licorice */
    --color-secondary: #f5fbef; /* ivory */
    --color-accent: #fb3640; /* imperial red */
  }
}
