@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 252 249; /* baby powder */
    --color-secondary: 63 64 63; /* onyx */
    --color-accent: 239 111 108; /* light coral */
  }
  :root[data-theme="light"] {
    --color-primary: 255 252 249; /* baby powder */
    --color-secondary: 63 64 63; /* onyx */
    --color-accent: 239 111 108; /* light coral */
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary: 23 18 25; /* licorice */
      --color-secondary: 245 251 239; /* ivory */
      --color-accent: 251 54 64; /* imperial red */
    }
  }
  :root[data-theme="dark"] {
    --color-primary: 23 18 25; /* licorice */
    --color-secondary: 245 251 239; /* ivory */
    --color-accent: 251 54 64; /* imperial red */
  }
}
