text {
  /* fill: rgb(var(--color-secondary)); */
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: x-small;
}

[id^='line2d_'] {
  stroke: rgb(var(--color-secondary)) !important;
}

[id^='patch_'] {
  fill: rgb(var(--color-accent) / 0.5) !important;
}

[id^='patch_']:hover {
  fill: rgb(var(--color-accent) / 1) !important;
}

#lines {
  stroke: rgb(var(--color-secondary));
}
